.container{
    display:flex;
    justify-content: flex-start;  
}

.nav {
    margin: 20px;
    width: 30vh;
    width: 100vh;
    white-space: normal;
}

.linklist {
    max-height: 90vh;
    overflow-y: auto;
    white-space: normal;
}

.heroName{
    font-size: 1.5rem;
    white-space: normal;
}

.heroName:hover {
    color: tomato;
    font-size: x-large;
    font-weight: bold;
    
}
.linklist::-webkit-scrollbar{
    display: none;  
}

.nestedpage {
    width: 80%;
    height: 80%;
    border: brown solid 5px;
    white-space: normal;
}

@media screen and (max-width: 768px) {
    .container {
        display:flex;
        flex-direction: column;
    }
  
    .linklist {
      flex: 0 0 30%; 
      order: 2; 
    }
  
    .nestedpage {
      flex: 0 0 60%; 
      order: 1; 
      white-space: normal;
      width: 100%;
    }

  }