.container{
    display:flex;
    justify-content: flex-start;  
}

.nav {
    margin: 20px;
    width: 30vh;
    width: 100vh;
}

.linklist {
    max-height: 90vh;
    overflow-y: auto;  
}
.linklist::-webkit-scrollbar{
    display: none;  
}

.nestedpage {
    width: 80%;
    height: 80%;
    border: brown solid 5px;
}