.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:80vh
}

.info {
    width: 60%;
    height:auto;
    white-space: normal;

}

.nav {
    position:absolute;
    top: 15%;
    width: 40%;
    height: 10%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.8rem;
    white-space: normal;
}
.Movie {
    width: 40%;
}
.table {
    position: absolute;
    top: 25%;
    width: 60%;
    height: 50%;
    overflow-y: auto; 
    font-size: 1.5rem;
}
.table::-webkit-scrollbar{
    display: none;
}
.Detail--Tabs{
    white-space: normal;
}
.Detail--Tabs > li {
    white-space: normal;
    font-size:2rem;
    margin: 10%;
}


.Detail--TabContents {
    height: 50%;
}

.routeButton {
    display:inline-block;
    width: 80%;
    border-radius: 30px;
    font-size: x-large;
    text-align: center;
    height: auto;
    background-color: blue;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 5px;
        top: 5px;
    }
}