.container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    white-space: normal;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    margin-left: 10px;
}

.imagebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vh;
    height: auto;
    font-size: xx-large;
}

.imagebox > img {
    width: 100%;
    border-radius: 10px;
}