
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.outerLink {
    margin: 10px;
    width: 50%;
    height: auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:brown;
}


.linkList {
    margin: 20px;
    width: 80%;
    height: 100%;
    font-size: x-large;
}
